div.sidebar {
  width: 400px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  mat-card {
    flex: 1 1 auto;
  }

  &>button {
    align-self: flex-start;
  }

  p.no-results {
    margin-bottom: 1rem;
    color: #aaa;
    font-style: italic;
  }
}

ul {
  background: white;
  min-height: 80px;
}
