<div class="content">
  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
    <mat-form-field class="search" appearance="fill">
      <mat-label>Board game name</mat-label>
      <input matInput formControlName="name" />
      <button (click)="search(searchForm.value)" mat-icon-button matSuffix aria-label="search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <section *ngIf="results$ | async as games">
    <h4 class="mat-h4">Results</h4>
    <ng-container *ngIf="searching; else resultsDisplay">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </ng-container>
    <ng-template #resultsDisplay>
      <ng-container *ngIf="games.length > 0; else empty">
        <app-game-result
          tabindex="0"
          *ngFor="let game of games"
          [game]="game"
          [addingGame]="exists(adding$ | async)"
          class="game-result"
          (addGame)="addGame($event)"
        ></app-game-result>
      </ng-container>
      <ng-template #empty>
        <span class="muted mat-body">No results</span>
      </ng-template>
    </ng-template>
  </section>
  <button class="close" mat-icon-button (click)="close.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
