div.game-list {
  margin: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;//center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
