:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .mat-drawer-backdrop.mat-drawer-shown {
    opacity: 0.2;
  }
}

.queue {
  position: fixed;
  top: 64px;
  top: 0;
  right: 0;
  height: 100vh;

  overflow-y: auto;
}

// .main {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

.game-shelf {
  max-width: 720px;
  flex: 1 1 auto;
}
