:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .mat-drawer-backdrop.mat-drawer-shown {
    opacity: 0.2;
  }
}

.game-shelf {
  max-width: 800px;

  .toolbar {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
