<div class="game-in-queue">
  <div class="game-detail">
    <img [src]="game.thumbnail" />
    <p>{{game.name}}</p>
  </div>
  <div class="actions">
    <button mat-icon-button (click)="play.emit(game)">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="queueActions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #queueActions="matMenu">
      <button mat-menu-item (click)="remove.emit(game)">
        <mat-icon>delete</mat-icon> Remove
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="moveToTop.emit(game)">
        <mat-icon style="transform: rotate(90deg)">first_page</mat-icon>
         Top
      </button>
      <button mat-menu-item (click)="moveUp.emit(game)">
        <mat-icon>expand_less</mat-icon> Up
      </button>
      <button mat-menu-item (click)="moveDown.emit(game)">
        <mat-icon>expand_more</mat-icon> Down
      </button>
      <button mat-menu-item (click)="moveToBottom.emit(game)">
        <mat-icon style="transform: rotate(90deg)">last_page</mat-icon>
        Bottom
      </button>
    </mat-menu>
  </div>
</div>
