.game-in-queue {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 1rem;

  cursor: pointer;

  .game-detail {
    display: flex;
    justify-content: align-start;
    align-self: stretch;
    align-items: center;

    img {
      max-width: 40px;
      max-height: 40px;
    }

    p {
      margin: 0.5rem;
    }
  }

  .rotate {
    transform: rotate(90deg);
  }
}
