<mat-card>
  <div class="game">
    <img class="game-image" [src]="game?.image" />
    <div class="description">
      <h3 class="name mat-h3">{{game?.name}}</h3>
      <h4 class="year mat-h4">({{game?.yearPublished}})</h4>
      <p class="players">Players: {{game?.minPlayers}} - {{game?.maxPlayers}}</p>
      <p class="duration">Duration:
        <span *ngIf="game?.minPlayTime !== game?.maxPlayTime">{{game?.minPlayTime}}</span>
        <span> ~ {{game?.maxPlayTime}} minutes</span>
      </p>
      <p class="age">Age: {{game?.minAge}}+</p>
    </div>
    <mat-form-field class="rating">
      <mat-label>Rating</mat-label>
      <mat-select [formControl]="ratingCtrl">
        <mat-select-trigger>
          <app-emoji
            *ngIf="ratingCtrl.value != null"
            [name]="ratingCtrl.value[1]"
            size="28"
          ></app-emoji>
        </mat-select-trigger>
        <mat-option *ngFor="let rating of ratingOptions" [value]="rating">
          <app-emoji *ngIf="rating != null; else clear" [name]="rating[1]"></app-emoji>
          <ng-template #clear>
            <span class="muted">Clear</span>
          </ng-template>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      (click)="showPlays.emit(game)"
      mat-icon-button
      [matBadge]="plays(game)"
      matBadgePosition="above after"
      matTooltip="Number of plays"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="gameMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #gameMenu="matMenu">
      <button mat-menu-item (click)="addGameToQueue.emit(game)">Add to queue</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="play.emit(game)">Play</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="removeGame.emit(game)">Remove from shelf</button>
    </mat-menu>
  </div>
</mat-card>
